@tailwind base;
@tailwind components;
@tailwind utilities;



.feature-column {
  padding: 3% 2%;
}

.gradient-bg {
  background: linear-gradient(180deg, #ffffff 0%, #f3f4f6 100%);
}

.section-background {
  background: #F4F6EF;
}

.ellipse {
  position: absolute;
  width: 800px;
  height: 320px;
  left: 200px;
  top: 120rem;
  background: rgba(50, 125, 129, 0.5);
  opacity: 0.8;
  filter: blur(99.7591px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 1;
}

